<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="../../static/images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-90 p-b-30">
            <form class="login100-form validate-form" method="POST">
                {% csrf_token %}
                <div class="text-center p-t-55 p-b-30">
						<span class="txt1">
							Login with email
						</span>
                </div>

{#                <div class="wrap-input100 validate-input m-b-16">#}
{#                    <input class="input100" type="text" name="email" placeholder="Email">#}
{#                    <span class="focus-input100"></span>#}
{#                </div>#}
                {{ form.username }}

{#                <div class="wrap-input100 validate-input m-b-20" data-validate="Please enter password">#}
{#                    <input class="input100" type="password" name="pass" placeholder="Password">#}
{#                    <span class="focus-input100"></span>#}
{#                </div>#}
                {{ form.password }}

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="flex-col-c p-t-224">
						<span class="txt2 p-b-10">
							Нету аккаунта? Зарегестрируйся!
						</span>

                    <a href="/registration" class="txt3 bo1 hov1">
                        Sign up now
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">#}
{#    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>#}
{#    <meta charset="UTF-8">#}
{#    <title>auth</title>#}
{#    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>#}
{#</head>#}
{#<body>#}
{#<div class="container h-100">#}
{#    <div class="row h-100 justify-content-center align-items-center">#}
{#        <form class="col-4" method="post" action={% url 'login' %}>{% csrf_token %}#}
{#            <div class="form-group">#}
{#                {{ form.username }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.password }}#}
{#            </div>#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}