<!DOCTYPE html>
<html>
<head>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <title>Регистрация</title>
</head>
<body>
<form action="{% url 'sign_up' %}" method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <button type="submit" onclick="send()">Зарегистрироваться</button>
</form>
</body>
</html>
