{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        {% for profile in profiles %}
            <a href="/profile/{{ profile.url_address }}">
                <div class="row friend">
                    <div class="col-1">
                        <img class="rounded"
                             src="{{ MEDIA_URL }}{{ profile.page_picture }}">
                    </div>
                    <div class="col-5"><h1>{{ profile.first_name }}
                        {{ profile.last_name }}</h1></div>
                    <div class="col-4"></div>
                </div>
            </a>
            <a href="{% url 'prepare_message' profile.id %}">Написать сообщение</a>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
