{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/stylesheet.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<nav>
    <a href="/profile"><img class="icons {% if active == 'profile' %}active{% endif %}" id="profile"
                            src="../../static/images/contacts-512.png"></a>
    <a href="/messages/list"><img class="icons {% if active == '360' %}active{% endif %}" id="messages"
                                  src="../../static/images/message-2-512.png"></a>
    <a href="/music"><img class="icons" id="music" src="../../static/images/note-512.png"></a>
    <a href="/groups"><img id="friends" class="icons" src="../../static/images/group-512.png"></a>
    <a href="/feed"><img class="icons" id="feed" src="../../static/images/document-2-512.png"></a>
</nav>
</body>
{% block content %}
{% endblock %}