{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        {% for message in messages %}
            <div class="row">
                <div class="col-2"><img src="{{ sender.page_picture }}"></div>
                <div class="col-8">
                    <a href="/messages/list/{{ message.id }}"
                            {% if message.is_read %}
                       class="list-group-item" style="background-color: white">
                            {% else %}
                                class="list-group-item" style="background-color: #b1b3dd">
                            {% endif %}
                    <div class="message">
                        {{ message.sender }}:{{ message.text }}
                    </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<td><a href="">{{ message.text }}</a>