{% extends 'common/base.html' %}
{% block content %}
    <body>
    <form method="post">{% csrf_token %}
        <div class="form-row">
            <div class="col-4">
                <input type="text" class="form-control" placeholder="Send message" id="message">
            </div>
            <button type="button" onclick="addmessage()" class="btn btn-primary">Послать сообщение
            </button>
        </div>
    </form>
    <div id="list"></div>
    {% for message in messages %}
        {{ message.text }}
    {% endfor %}
    </body>
    <script>
        function addmessage() {
            var path = location.pathname.split('/');
            var path = path[path.length - 1];
            console.log(path);
            let message = document.getElementById("message").value;
            $.ajax({
                type: 'post',
                url: '{% url 'send_message' %}',
                data: {
                    receiverID: path,
                    message: message
                },
                error: console.log('Провал')
            }).done(function (data) {
                console.log(data[1]);
            })
        }


    </script>
    </html>
{% endblock %}