{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        {% for post in posts %}
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10 content"><h1 align="center">{{ post.title }}</h1>
                    {{ post.text }}</div>
                <div class="col-1">
                    <div class="like2" id="{{ post.id }}">{# Todo:настроить правильно #}
{#                        <a href="#" onclick="like_ajax({{ post.id }})"><img class="icons" id="{{ post.id }}"#}
{#                                                                            onclick="like_ajax({{ post.id }})"#}
{#                                                                            src="{% static 'images/facebook-like-5-512.png' %}"></a>#}
                        <button onclick="like_ajax({{ post.id }})">тык</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        function like_ajax(post_id) {
            $.ajax({
                method: 'POST',
                url: '/feed/like_post',
                data:
                    {
                        'post_id': post_id
                    },
                dataType: 'json',
                success: function () {
                    console.log('Лайк')
                },
                error: alert('Неудача')
            });
        }
    </script>

{% endblock %}