{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <form method="post" action="/profile/create">
        <div class="container">
            <div class="row">
                <div class="col-2 mt-4"><h2>Заголовок</h2></div>
                <div class="col-8 mt-4">
                    <input type="text" class="form-control" name="text" id="title" placeholder="Title">
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
            <textarea class="form-control" id="post" name="title" onkeyup="countChars()" rows="3">
                </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-2">Написано</div>
                <div class="col-1" id="counter"></div>
                <div class="col-7">символов</div>
                <div class="col-2 mt-4">
                    <button type="submit" class="btn btn-primary">Запостить</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        function countChars() {
            let post = document.getElementById('post').value;
            let counter = document.getElementById('counter');
            counter.innerHTML = post.length;
        }
    </script>
{% endblock %}