{% extends "common/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                {% if profile.profile_picture %}
                    <img src="{{ MEDIA_URL }}{{ page.page_picture.url }}">
                {% else %}
                    <img src="{% static 'images/index.png' %}" style="margin-top: 10px;" height="500px"/>
                {% endif %}
            </div>
            <div class="col-6">
                <div class="info">
                    <h1>{{ profile.first_name }} {{ profile.last_name }}
                        <button>
                            {% if profile.state == 'O' %}
                                <img src="{% static 'images/unlock.png' %}" id="privacy" style="height: 40px;"
                                     onclick="lock()">
                            {% else %}
                                <img src="{% static 'images/lock.png' %}" id="privacy" style="height: 40px;"
                                     onclick="unlock()">
                            {% endif %}
                        </button>
                    </h1>
                    <div class="status">{{ profile.status }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-1 plus"><a href="{% url 'post_create' %}"><img
                    style="width: 70px; padding-top: 20px; "
                    src="{% static 'images/plus.png' %}"></a></div>
            <div class="col-4 content"><h1> Моя стена</h1></div>
        </div>

        {% for post in posts %}
            <div class="row">
                <div class="col-7"></div>
                <div class="col-4"><h1>{{ post.title }}</h1>
                    <a>{{ post.text }}</a>
                    <div style="text-align: right"
                         class="author">{{ post.author.first_name }} {{ post.author.last_name }}</div>
                    {% for group in user.groups.all %}
                        {% if group.name == 'Admin' %}
                            <button onclick="deletePost({{ post.id }})">Удалить пост</button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col-1"></div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <script>
        function unlock() {
            axios.get('{% url 'unlock' %}')
                .then(function (response) {
                    var element = document.getElementById('privacy');
                    element.src = '{% static 'images/unlock.png' %}';
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        function lock() {
            axios.get('{% url 'lock' %}')
                .then(function (response) {
                    var element = document.getElementById('privacy');
                    element.src = '{% static 'images/lock.png' %}';
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
{% endblock %}