nav {
    background-color: #363989;
    padding-top: 20px;
}

a {
    margin-right: 10px;
}

.icons {
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100px;
}

.icons:hover {
    background-color: white;
}

#profile:hover {
    content: url("../images/contacts-512 pink.png");
}

#messages:hover {
    content: url("../images/message-2-512-pink.png");
}

#music:hover {
    content: url("../images/note-512-pink.png");
}

#friends:hover {
    content: url("../images/group-512-pink.png");
}

#feed:hover {
    content: url("../images/document-2-512 pink.png");
}

body {
    #background-color: #c0c0c0;
}

.message {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-family: Verdana, sans-serif;
}

.message active {
    content: url("../images/message-2-512-pink.png");
}

.photo {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px green, 0 0 13px #333;
}

.friend {
    text-decoration: none;
}

.friend:hover {
    background: #ffffcc;
}

.content {
    border: 4px;
    box-shadow: 0 0 5px #666;
    padding-top: 20px;
    background-color: white;
    padding-bottom: 20px;
}

.plus:hover {
     box-shadow: 0 0 10px black;
}
.plus:active{
    background-color: #333333;
}
.like{
    width: 100px;
}
.like:hover{
    content: url("../images/facebook-like-5-512-red.png");
}